<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if title %}{{ title }} - {% endif %}datashaman
    </title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="view--{{ view }}">
    <header>
        <aside>
            <h1><a href="{{ site.link }}/">datashaman</a></h1>
        </aside>
        <main>
            <nav>
                <ul>
                    <li><a href="https://twitter.com/data_shaman" rel="me" target="_blank" rel="noopener noreferrer" title="twitter" aria-label="twitter">{{ feather('twitter')|safe }}</a></li>
                    <li><a href="https://github.com/datashaman" rel="me" target="_blank" rel="noopener noreferrer" title="github" aria-label="github">{{ feather('github')|safe }}</a></li>
                    <li><a href="https://www.linkedin.com/in/datashaman" rel="me" target="_blank" rel="noopener noreferrer" title="linkedin" aria-label="linkedin">{{ feather('linkedin')|safe }}</a></li>
                    <li><a href="https://codepen.io/datashaman" rel="me" target="_blank" rel="noopener noreferrer" title="codepen" aria-label="codepen">{{ feather('codepen')|safe }}</a></li>
                    <li><a href="/tags/" title="tags" aria-label="tags">{{ feather('tag')|safe }}</a></li>
                </ul>
            </nav>
        </main>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <aside>
        </aside>
        <main>
            <p>
                Copyright &copy; 2020 <em>datashaman</em>
            </p>
        </main>
    </footer>

    <script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>
