{% extends 'default.njk' %}
{% from 'macros.njk' import render_content, render_tags %}

{% set author = file.data.references[file.data.author] or file.data.author or author %}
{% set canonical = site.link + file.data.url %}
{% set description = marked(file.data.summary|default('')) %}

{% block content %}
    <article class="h-entry">
        <aside>
            <p>
                <a href="{{ file.data.url }}" class="u-url">
                    <time class="dt-published" datetime="{{ file.data.published|date('YYYY-MM-DDTHH:mm:ssZ') }}">{{ file.data.published|date }}</time>
                </a>
            </p>
        </aside>

        <main>
            <div class="icons">
                <div class="u-author h-card">
                    <a class="u-url" href="{{ author.url }}" title="{{ author.name }}">
                        <img class="u-photo p-name" alt="{{ author.name }}" src="{{ author.photo }}" width="32" height="32">
                    </a>
                </div>
            </div>

            {% if file.data.name %}
                <h2 class="p-name">{{ file.data.name }}</h2>
            {% endif %}

            {{ render_content(file) }}

            <div class="pure-g">
                <div class="pure-u-1-6">
                    <div class="social-share">
                        <a
                            class="button-tag pure-button twitter"
                            target="_blank"
                            rel="noopener noreferrer"
                            href="https://twitter.com/intent/tweet?text={{ file.data.name|urlencode }}&amp;url={{ canonical|urlencode }}&amp;hashtags={{ file.data.category|default([])|join(',')|urlencode }}&amp;via={{ author.twitter|urlencode }}">
                            {{ feather('twitter', 14, 14, 3)|safe }} tweet
                        </a>
                    </div>
                </div>

                <div class="pure-u-5-6">
                    {% if file.data.category %}
                        {{ render_tags(file.data.category) }}
                    {% endif %}
                </div>
            </div>
        </main>
    </article>

    {% if file.data.mentions.length %}
        <header>
            <aside>
            </aside>
            <main>
                <h3>Mentions</h3>
            </main>
        </header>
        <section class="mentions">
            {% for mention in file.data.mentions %}
                <div class="mention">
                    <aside>
                        <p>
                            <time datetime="{{ mention.published|date('YYYY-MM-DDTHH:mm:ssZ') }}">{{ mention.published|date }}</time>
                        </p>
                    </aside>
                    <main>
                        <div class="author">
                            <a href="{{ mention.author.url }}" target="_blank" rel="noopener noreferrer"><img alt="{{ mention.author.name}}" src="{{ mention.author.photo }}" width="32" height="32"></a>
                        </div>

                        <h4>
                            <a href="{{ mention.url }}" target="_blank" rel="noopener noreferrer">{{ mention.author.name }}</a>
                        </h4>

                        {% if mention.content.html %}
                            {{ mention.content.html|safe }}
                        {% else %}
                            {{ mention.content.text }}
                        {% endif %}
                    </main>
                </div>
            {% endfor %}
        </section>
    {% endif %}

    {% if file.data.comments.length %}
        <header>
            <aside>
            </aside>
            <main>
                <h3>Comments</h3>
            </main>
        </header>
        <section class="comments">
            {% for comment in file.data.comments %}
                <div class="comment">
                    <aside>
                        <p>
                            <time datetime="{{ comment.published|date('YYYY-MM-DDTHH:mm:ssZ') }}">{{ comment.published|date }}</time>
                        </p>
                    </aside>
                    <main>
                        <h4>
                            <a href="{{ comment.link }}" target="_blank" rel="noopener noreferer">{{ comment.name }}</a>
                        </h4>

                        {{ comment.text }}
                    </main>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
