<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
<title>{{ site.title }}</title>
<subtitle>{{ site.subtitle }}</subtitle>
<link href="{{ site.link }}/feed.xml" rel="self" />
<link href="{{ site.link }}/" />
<id>urn:uuid:{{ site.id }}</id>
<updated>{{ updated }}</updated>

{% for id in entries %}
    {% set entry = document(id) %}
    <entry>
        <title>{{ entry.data.title }}</title>
        <link href="{{ entry.data.url }}" />
        <!--<link rel="edit" href="http://example.org/2003/12/13/atom03/edit"/>-->
        <id>urn:uuid:{{ entry.data.id }}</id>
        <updated>{{ entry.data.date|date('YYYY-MM-DDTHH:mm:ss[Z]') }}</updated>
        {% if entry.data.excerpt %}
            <summary type="xhtml" xml:lang="en">
                <div xmlns="http://www.w3.org/1999/xhtml">
                    {% markdown %}{{ entry.data.excerpt }}{% endmarkdown %}
                </div>
            </summary>
        {% endif %}
        <content type="xhtml" xml:lang="en">
            <div xmlns="http://www.w3.org/1999/xhtml">
                {% markdown %}{{ entry.contents }}{% endmarkdown %}
            </div>
        </content>
        <author>
            <name>{{ author.name }}</name>
            <email>{{ author.email }}</email>
        </author>
    </entry>
{% endfor %}
</feed>
