{% extends 'default.njk' %}
{% from 'macros.njk' import render_posts %} 

{% block content %}
    <header>
        <aside>
            <img class="gravatar" src="{{ author.gravatar }}"/>
        </aside>
        <main>
            <p>Freelance developer. Open-source solutions.<br>Wannabe writer.</p>
        </main>
    </header>

    {{ render_posts(posts) }}
{% endblock %}
