{% extends 'default.njk' %}
{% from 'macros.njk' import render_posts %} 

{% block content %}
    <header class="h-card">
        <aside>
            <img class="gravatar u-photo" height="80" width="80" src="{{ author.gravatar }}"/>
        </aside>
        <main class="p-note">
            <p>
                Hi! My name is <a href="{{ site.link }}" class="u-url p-name">Marlin Forbes</a>. <br>
                Freelance developer. <br>
                Open-source solutions. <br>
                Wannabe writer.
            </p>
        </main>
    </header>

    {{ render_posts(posts) }}
{% endblock %}
