{% macro render_posts(posts) %}
{% for post in posts %}
<article class="pure-g">
    <div class="pure-u-1-4">
        <a href="{{ site.link }}">
            <time>{{ post.data.date|date }}</time>
        </a>
    </div>
    <div class="pure-u-3-4">
        <h3>
            <a href="{{ post.data.url }}">{{ post.data.title }}</a>
        </h3>

        {{ post.data.excerpt|default(post.contents)|safe }}

        {% if post.data.excerpt %}<a href="{{ post.data.url }}">more</a>{% endif %}

        {% if post.data.tags %}
        <div class="tags">
            <ul>
                {% for tag in post.data.tags %}
                <li><a href="/tags/{{ tag }}/">#{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</article>
{% endfor %}
{% endmacro %}
