{% macro render_posts(posts, base = '', pagination = true) %}
{% for id in posts.items %}
    {% set post = document(id) %}
    <article>
        <aside>
            <a href="{{ post.data.url }}">
                <time>{{ post.data.date|date }}</time>
            </a>
        </aside>
        <main>
            <h3>
                <a href="{{ post.data.url }}">{{ post.data.title }}</a>
            </h3>

            {% if post.data.excerpt %}
                {% markdown %}{{ post.data.excerpt }}{% endmarkdown %}
            {% else %}
                {{ post.contents|safe }}
            {% endif %}

            <div class="pure-g">
                <div class="pure-u-1-6">
                    {% if post.data.excerpt %}<a class="button-more pure-button" href="{{ post.data.url }}">more</a>{% endif %}
                </div>

                <div class="pure-u-5-6">
                    {% if post.data.tags %}
                        {{ render_tags(post.data.tags) }}
                    {% endif %}
                </div>
            </div>
        </main>
    </article>
{% endfor %}

{% if posts.lastPage > 1 %}
    <section>
        <aside>
        </aside>
        <main>
            {% if pagination %}
                <div class="pagination">
                    <ul>
                        {% for index in range(posts.lastPage) %}
                            {% set page = index + 1 %}
                            {% if page == posts.currentPage %}
                                <li><a href="#" class="active">{{ index + 1 }}</a></li>
                            {% elif page == 1 %}
                                <li><a href="{{ base }}/">1</a></li>
                            {% else %}
                                <li><a href="{{ base }}/page/{{ index + 1 }}/">{{ index + 1 }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <a class="button-more pure-button" href="{{ base }}/">{{ posts.total - posts.items.length }} more posts</a>
            {% endif %}
        </main>
    </section>
{% endif %}
{% endmacro %}

{% macro render_tags(tags) %}
<div class="tags">
    <ul>
        {% for tag in tags %}
            <li><a class="button-tag pure-button" href="/{{ tag }}/">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}
