{% extends 'default.njk' %}
{% from 'macros.njk' import render_tags %} 

{% block content %}
    <article class="h-entry">
        <aside>
            <a href="{{ file.data.url }}" class="u-url">
                <time class="dt-published">{{ file.data.date|date }}</time>
            </a>
        </aside>

        <main>
            <h2 class="p-name">{{ file.data.title }}</h2>
            <div class="e-content">{{ contents|safe }}</div>

            {% if file.data.tags %}
                {{ render_tags(file.data.tags) }}
            {% endif %}
            </div>
        </main>
    </article>

    {% if file.data.comments %}
        <section class="comments">
            {% for comment in file.data.comments %}
                <div class="comment">
                    <aside>
                        <time>{{ comment.date|date }}</time>
                    </aside>
                    <main>
                        <h4>
                            <a href="{{ comment.link }}" rel="noopener noreferer" target="_blank">{{ comment.name }}</a>
                        </h4>

                        {{ comment.text }}
                    </main>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
