{% extends 'default.njk' %}

{% block content %}
    <article>
        <aside>
            <a href="{{ site.link }}">
                <time>{{ file.data.date|date }}</time>
            </a>
        </aside>

        <main>
            <h2>{{ file.data.title }}</h2>
            {{ contents|safe }}
        </main>
    </article>

    {% if file.data.comments %}
        <section class="comments">
            {% for comment in file.data.comments %}
                <div class="comment">
                    <aside>
                        <time>{{ comment.date|date }}</time>
                    </aside>
                    <main>
                        <h4>
                            <a href="{{ comment.link }}" rel="noopener noreferer" target="_blank">{{ comment.name }}</a>
                        </h4>

                        {{ comment.text }}
                    </main>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
