{% extends 'default.njk' %}
{% from 'macros.njk' import render_tags %}

{% set canonical = site.link + file.data.url %}
{% set description = marked(file.data.excerpt|default('')) %}

{% block content %}
    <article class="h-entry">
        <aside>
            <a href="{{ file.data.url }}" class="u-url">
                <time class="dt-published" datetime="{{ file.data.date|date('YYYY-MM-DDTHH:mm:ssZ') }}">{{ file.data.date|date }}</time>
            </a>
        </aside>

        <main>
            <div class="author u-author h-card">
                <a class="u-url" href="{{ author.link }}"><img class="u-photo p-name" alt="Marlin Forbes" src="{{ author.gravatar}}" width="32" height="32"></a>
            </div>

            <h2 class="p-name">{{ file.data.title }}</h2>

            <div class="e-content">{{ contents|safe }}</div>

            <div class="pure-g">
                <div class="pure-u-1-6">
                    <div class="social-share">
                        <a
                            class="twitter-share-button"
                            data-size="large"
                            href="https://twitter.com/intent/tweet?text={{ file.data.title|urlencode }}&hashtags={{ file.data.tags|default([])|join(',')|urlencode }}">
                            Tweet
                        </a>
                    </div>
                </div>

                <div class="pure-u-5-6">
                    {% if file.data.tags %}
                        {{ render_tags(file.data.tags) }}
                    {% endif %}
                </div>
            </div>
        </main>
    </article>

    {% if file.data.mentions.length %}
        <header>
            <aside>
            </aside>
            <main>
                <h3>Mentions</h3>
            </main>
        </header>
        <section class="mentions">
            {% for mention in file.data.mentions %}
                <div class="mention">
                    <aside>
                        <time>{{ mention.published|date }}</time>
                    </aside>
                    <main>
                        <div class="author">
                            <a href="{{ mention.author.url }}" target="_blank" rel="noopener noreferrer"><img alt="{{ mention.author.name}}" src="{{ mention.author.photo }}" width="32" height="32"></a>
                        </div>

                        <h4>
                            <a href="{{ mention.url }}" target="_blank" rel="noopener noreferrer">{{ mention.author.name }}</a>
                        </h4>

                        {% if mention.content.html %}
                            {{ mention.content.html|safe }}
                        {% else %}
                            {{ mention.content.text }}
                        {% endif %}
                    </main>
                </div>
            {% endfor %}
        </section>
    {% endif %}

    {% if file.data.comments.length %}
        <header>
            <aside>
            </aside>
            <main>
                <h3>Comments</h3>
            </main>
        </header>
        <section class="comments">
            {% for comment in file.data.comments %}
                <div class="comment">
                    <aside>
                        <time>{{ comment.date|date }}</time>
                    </aside>
                    <main>
                        <h4>
                            <a href="{{ comment.link }}" target="_blank" rel="noopener noreferer">{{ comment.name }}</a>
                        </h4>

                        {{ comment.text }}
                    </main>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
