{% extends 'default.njk' %}
{% from 'macros.njk' import render_posts %} 

{% block content %}
    <header>
        <aside></aside>
        <main>
            <h2><em>{{ tag }}</em> tag</h2>
        </main>
    </header>
    {{ render_posts(posts, '/' + tag) }}
{% endblock %}
