{% extends 'default.njk' %}
{% from 'macros.njk' import render_posts %} 

{% block content %}
    <header>
        <aside>
        </aside>
        <main>
            <h2>tags</h2>
        </main>
    </header>

    {% for tag, posts in tags %}
        <div class="tag">
            <header class="tag-header">
                <aside>
                    <h3><a href="/{{ tag }}/">{{ tag }}</a></h3>
                </aside>
                <main>
                </main>
            </header>

            {{ render_posts(posts, '/' + tag, false) }}
        </div>
    {% endfor %}
{% endblock %}
