@import "../../node_modules/water.css/dist/light.standalone";
@import "../../node_modules/purecss/build/buttons";
@import "../../node_modules/purecss/build/grids";

article,
header,
section {
    margin: auto;
    max-width: 110ch;
    overflow: auto;
}

header {
    font-size: large;

    h1 {
        position: relative;
        top: -2px;
        font-size: x-large;
        font-weight: 400;
    }

    p {
        margin-top: 0;
    }
}

article {
    border-top: 1px solid var(--background);
    margin-bottom: 10px;
    padding-top: 10px;

    .u-author {
        float: right;

        img {
            border-radius: 50%;
        }
    }
}

aside {
    position: relative;

    time {
        font-size: small;
        position: relative;
        top: 3px;
    }
}

header aside,
header main {
    text-align: center;
}

aside {
    margin-bottom: 5px;
}

h3 {
    margin-top: 0;
}

.view--post aside time {
    top: 9px;
}

.gravatar {
    border-radius: 50%;
}

.tags {
    text-align: right;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-left: 3px;
    }
}

.view--tags .tag header h3 {
    border: 1px solid var(--background);
    border-radius: 10%;
    display: inline-block;
    margin-bottom: 0;
    padding: 5px;
}

.button-tag {
    background: #0076d1;
    border-radius: 10%;
    color: #fff;
    font-size: x-small;
    font-weight: bolder;
}

.button-more {
    border-radius: 10%;
    font-size: x-small;
    font-weight: bolder;
}

.comments {
    padding-top: 10px;
    border-top: 1px solid;

    h4 {
        margin-top: 0;
    }

    .comment {
        overflow: auto;
        margin-bottom: 10px;
    }

    aside time {
        top: 0;
    }
}

.pagination {
    text-align: center;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
    }

    a.active {
        cursor: default;
        color: #ccc;
    }

    a:hover:not(.active) {
        background-color: #ccc;
        border: 1px solid;
    }
}

nav {
    margin-bottom: 10px;
    text-align: center;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }
}

@media screen and (min-width: 35.5em) {
    aside {
        text-align: right;
        float: left;
        margin-bottom: 0;
        width: 23%;
    }

    main {
        width: 75%;
        float: right;
    }

    header .gravatar {
        position: relative;
        top: 10px;
        right: 16px;
    }

    header aside {
        text-align: right;
    }

    header main {
        text-align: left;
    }

    nav {
        float: right;

        ul {
            text-align: right;
        }
    }

    .tags {
        margin-top: 0;
        text-align: right;
    }

    .button-tag,
    .button-more {
        font-size: small;
    }

    .view--tags .tag header h3 {
        border: none;
        border-radius: 0;
        display: block;
        margin-bottom: 0;
    }

    article,
    header,
    section {
        h2 {
            margin-top: 0;
        }
    }

}

a[href^='mailto']::before {
  content: none;
}
