@import "../../node_modules/water.css/dist/light.standalone";
@import "../../node_modules/purecss/build/grids";
@import "../../node_modules/purecss/build/buttons";

article,
header,
section {
    margin: auto;
    max-width: 110ch;
    overflow: auto;
}

header {
    font-size: large;
    margin-bottom: 10px;

    h1 {
        font-size: inherit;
    }

    p {
        margin-top: 0;
    }
}

article,
header,
section {
    h2 {
        margin-top: 0;
    }
}

article {
    border-top: 1px solid var(--background);
    margin-bottom: 20px;
    padding-top: 10px;
}

aside {
    position: relative;

    time {
        font-size: small;
        position: relative;
        top: 3px;
    }
}

header aside,
header main {
    text-align: center;
}

aside {
    margin-bottom: 5px;
}

h3 {
    margin-top: 0;
}

.view--post aside time {
    top: 9px;
}

.gravatar {
    border-radius: 50%;
}

.tags {
    margin-top: 10px;
    text-align: center;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-left: 10px;
    }
}

.view--tags .tag {
    margin-bottom: 10px;
}

.button-tag {
    background: #0076d1;
    border-radius: 10%;
    color: #fff;
    font-size: small;
    font-weight: bolder;
}

.button-more {
    border-radius: 10%;
    font-size: small;
    font-weight: bolder;
}

.comments {
    padding-top: 10px;
    border-top: 1px solid;

    h4 {
        margin-top: 0;
    }

    .comment {
        overflow: auto;
        margin-bottom: 10px;
    }

    aside time {
        top: 0;
    }
}

.pagination {
    text-align: center;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
    }

    a.active {
        cursor: default;
        color: #ccc;
    }

    a:hover:not(.active) {
        background-color: #ccc;
        border: 1px solid;
    }
}

nav {
    text-align: center;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }
}

@media screen and (min-width: 35.5em) {
    aside {
        text-align: right;
        float: left;
        margin-bottom: 0;
        width: 23%;
    }

    main {
        width: 75%;
        float: right;
    }

    header aside {
        text-align: right;
    }

    header main {
        text-align: left;
    }

    nav {
        ul {
            text-align: right;
        }
    }

    .tags {
        text-align: right;
    }
}

